In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('./data/train.csv')
test  = pd.read_csv('./data/test.csv')
sub   = pd.read_csv('./data/sample_submission.csv')

train.shape, test.shape, sub.shape

((1350, 15), (1350, 14), (1350, 2))

In [2]:
train.head()

,id,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
0,1,10,2392,Ex,3,968,Ex,2392,2392,Ex,2,2003,2003,2003,386250
1,2,7,1352,Gd,2,466,Gd,1352,1352,Ex,2,2006,2007,2006,194000
2,3,5,900,TA,1,288,TA,864,900,TA,1,1967,1967,1967,123000
3,4,5,1174,TA,2,576,Gd,680,680,TA,1,1900,2006,2000,135000
4,5,7,1958,Gd,3,936,Gd,1026,1026,Gd,2,2005,2005,2005,250000

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1350 non-null   int64
 1   Overall Qual    1350 non-null   int64
 2   Gr Liv Area     1350 non-null   int64
 3   Exter Qual      1350 non-null   object
 4   Garage Cars     1350 non-null   int64
 5   Garage Area     1350 non-null   int64
 6   Kitchen Qual    1350 non-null   object
 7   Total Bsmt SF   1350 non-null   int64
 8   1st Flr SF      1350 non-null   int64
 9   Bsmt Qual       1350 non-null   object
 10  Full Bath       1350 non-null   int64
 11  Year Built      1350 non-null   int64
 12  Year Remod/Add  1350 non-null   int64
 13  Garage Yr Blt   1350 non-null   int64
 14  target          1350 non-null   int64
dtypes: int64(12), object(3)
memory usage: 158.3+ KB

In [4]:
train.isna().sum()

id                0
Overall Qual      0
Gr Liv Area       0
Exter Qual        0
Garage Cars       0
Garage Area       0
Kitchen Qual      0
Total Bsmt SF     0
1st Flr SF        0
Bsmt Qual         0
Full Bath         0
Year Built        0
Year Remod/Add    0
Garage Yr Blt     0
target            0
dtype: int64

In [5]:
test.isna().sum()

id                0
Overall Qual      0
Gr Liv Area       0
Exter Qual        0
Garage Cars       0
Garage Area       0
Kitchen Qual      0
Total Bsmt SF     0
1st Flr SF        0
Bsmt Qual         0
Full Bath         0
Year Built        0
Year Remod/Add    0
Garage Yr Blt     0
dtype: int64

In [6]:
X_feature = 'Gr Liv Area'
y_feature = 'target'

X = train[X_feature]
y = train[y_feature]

X.head()

0    2392
1    1352
2     900
3    1174
4    1958
Name: Gr Liv Area, dtype: int64

In [7]:
X_mean = np.mean(X)
y_mean = np.mean(y)

relation = round(y_mean / X_mean, 2)
bias = y_mean - relation * X_mean

X_mean, y_mean, relation, bias

(1513.5422222222223, 186406.31259259259, 123.16, -1.5474962963198777)

In [8]:
predict_y = relation * X + bias
predict_y

0       294597.172504
1       166510.772504
2       110842.452504
3       144588.292504
4       241145.732504
            ...
1345    216267.412504
1346    338442.132504
1347    149514.692504
1348    110103.492504
1349    111704.572504
Name: Gr Liv Area, Length: 1350, dtype: float64

In [9]:
def NMAE(true, pred):
    mae = np.mean(np.abs(true - pred))
    score = mae / np.mean(np.abs(true))
    
    return score

In [10]:
real_answer = y.copy()

error = NMAE(real_answer, predict_y)
error

0.19847888957675894

In [11]:
test_X = test[X_feature]
predict_test = relation * test_X + bias
predict_test

0       221686.452504
1       133257.572504
2       193729.132504
3       300878.332504
4       128084.852504
            ...
1345    237943.572504
1346    112320.372504
1347    106039.212504
1348    176117.252504
1349    287823.372504
Name: Gr Liv Area, Length: 1350, dtype: float64

In [13]:
sub[y_feature] = predict_test
sub

        id         target
0        1  221686.452504
1        2  133257.572504
2        3  193729.132504
3        4  300878.332504
4        5  128084.852504
...    ...            ...
1345  1346  237943.572504
1346  1347  112320.372504
1347  1348  106039.212504
1348  1349  176117.252504
1349  1350  287823.372504

[1350 rows x 2 columns]

In [ ]:
sub.to_csv('./sub/baseline.csv', index=False)