In [1]:
import pandas as pd
train = pd.read_csv('./data/train.csv')
test  = pd.read_csv('./data/test.csv')

In [2]:
train.shape, test.shape

((1350, 15), (1350, 14))

In [3]:
train.dtypes

id                 int64
Overall Qual       int64
Gr Liv Area        int64
Exter Qual        object
Garage Cars        int64
Garage Area        int64
Kitchen Qual      object
Total Bsmt SF      int64
1st Flr SF         int64
Bsmt Qual         object
Full Bath          int64
Year Built         int64
Year Remod/Add     int64
Garage Yr Blt      int64
target             int64
dtype: object

In [4]:
train_cols = ['id', 'Year Built', 'Year Remod/Add', 'Garage Yr Blt',  'Overall Qual', 'Exter Qual', 'Bsmt Qual', 'Kitchen Qual', 'Gr Liv Area', 'Total Bsmt SF', '1st Flr SF', 'Garage Area', 'Full Bath', 'Garage Cars', 'target']
test_cols = ['id', 'Year Built', 'Year Remod/Add', 'Garage Yr Blt',  'Overall Qual', 'Exter Qual', 'Bsmt Qual', 'Kitchen Qual', 'Gr Liv Area', 'Total Bsmt SF', '1st Flr SF', 'Garage Area', 'Full Bath', 'Garage Cars']

train = train[train_cols]
test = test[test_cols]
train.head()

,id,Year Built,Year Remod/Add,Garage Yr Blt,Overall Qual,Exter Qual,Bsmt Qual,Kitchen Qual,Gr Liv Area,Total Bsmt SF,1st Flr SF,Garage Area,Full Bath,Garage Cars,target
0,1,2003,2003,2003,10,Ex,Ex,Ex,2392,2392,2392,968,2,3,386250
1,2,2006,2007,2006,7,Gd,Ex,Gd,1352,1352,1352,466,2,2,194000
2,3,1967,1967,1967,5,TA,TA,TA,900,864,900,288,1,1,123000
3,4,1900,2006,2000,5,TA,TA,Gd,1174,680,680,576,1,2,135000
4,5,2005,2005,2005,7,Gd,Gd,Gd,1958,1026,1026,936,2,3,250000

In [6]:
year_cols = train_cols[1:4]

train[year_cols] = 2022 - train[year_cols]
test[year_cols] = 2022 - test[year_cols]

train.head()

,id,Year Built,Year Remod/Add,Garage Yr Blt,Overall Qual,Exter Qual,Bsmt Qual,Kitchen Qual,Gr Liv Area,Total Bsmt SF,1st Flr SF,Garage Area,Full Bath,Garage Cars,target
0,1,19,19,19,10,Ex,Ex,Ex,2392,2392,2392,968,2,3,386250
1,2,16,15,16,7,Gd,Ex,Gd,1352,1352,1352,466,2,2,194000
2,3,55,55,55,5,TA,TA,TA,900,864,900,288,1,1,123000
3,4,122,16,22,5,TA,TA,Gd,1174,680,680,576,1,2,135000
4,5,17,17,17,7,Gd,Gd,Gd,1958,1026,1026,936,2,3,250000

In [8]:
for df in [train, test]:
    for col in [['Gr Liv Area', 'Total Bsmt SF', '1st Flr SF', 'Garage Area']]:
        q1 = df[col].quantile(.25)
        q3 = df[col].quantile(.75)
        iqr = q3 - q1
        low = q1 - 1.5 * iqr
        high = q3 + 1.5 * iqr
        df.loc[df[col] < low, col] = low
        df.loc[df[col] < high, col] = high

KeyError: "None of [Index([          ('G', 'r', ' ', 'L', 'i', 'v', ' ', 'A', 'r', 'e', 'a'),\n       ('T', 'o', 't', 'a', 'l', ' ', 'B', 's', 'm', 't', ' ', 'S', 'F'),\n                      ('1', 's', 't', ' ', 'F', 'l', 'r', ' ', 'S', 'F'),\n                 ('G', 'a', 'r', 'a', 'g', 'e', ' ', 'A', 'r', 'e', 'a')],\n      dtype='object')] are in the [index]"